name: Build and Release

on:
  workflow_dispatch:
    inputs:
      beta:
        type: boolean
        description: Is beta?

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Flutter Doctor
        run: |
          flutter doctor -v

      - name: Use Debug Signing
        run: |
          sed -i 's/signingConfig = signingConfigs.getByName("release")/signingConfig = signingConfigs.getByName("debug")/g' android/app/build.gradle.kts

      - name: Build APK
        run: |
          flutter build apk --split-per-abi --target-platform android-arm64 --flavor normal
          ls -lh ./build/app/outputs/flutter-apk/

      - name: Save APK as Action Artifact
        uses: actions/upload-artifact@v4
        with:
          name: obtainium-moddroid-test
          path: build/app/outputs/flutter-apk/*.apk
